$orange: #fca641
$yellow: #ebd051

#header
  background-color: $orange
  
#header #title
  color: $yellow
  font-size: 40px

#content-wrapper
  background-color: blue

#content
  background-color: white
  