$blue: #8BB9FF
$light-grey: #F3F3F3
$grey: #EFEFEF

body
  font-family: Cantarell,"Droid Sans",Verdana,sans-serif
  background-color: $grey

#header
  background-color: $blue
  
#header .title
  color: $light-grey
  font-size: 3em

#header .subtitle
  color: black

#nav_wrapper

  
#nav
  list-style-type: none

#content_wrapper
  background-color: white

#content

.post .post_head .author
  text-align: right

.post .post_head .date
  background-color: $blue
  text-align: right

.post .post_body
  text-align: justify
  

  
  
