#nav_wrapper
  %ul#nav
    -@navigation.elements.each do |element,style|
      -if style.selected
        .selected
          %li{:class => "#{style.type}"}= link_to element, page_path(element)
      -else
        %li{:class => "#{style.type}"}= link_to element, page_path(element)
