%html
  %head
    %title
      Software With Friends
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #title
        Software With Friends
      #nav
        This is where the navigation goes
    #content-wrapper
      #content
        = yield
